$carrot: #a4373a;
$blue: #0078d4;
$nature: #217346;
$orange: #d83b01;
$purple: #7719aa;
$teal: #077568;
$bluegrey: #2b579a;
$white: #ffffff;
$black: #000000;
$borderlight: #afafaf;

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

// BUTTONS
.button{
    padding: 6px 18px;
    color: $white;
    font-size: 14px;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    border-radius: 3px;
    width: fit-content;
}
.btn-primary{
    background-color: $blue;
}
.btn-success{
    background-color: $nature;
}
.btn-danger{
    background-color: $carrot;
}
.btn-secondary{
    background-color: transparent;
    color: $black;
    border: 1px solid $borderlight;
}
.btn-link{
    background-color: transparent;
}
// BUTTON GROUP
.btn-group{
    display: flex;
}
// TYPOGRAPHY
.txt-blue{
    color: $blue;
}
.txt-carrot{
    color: $carrot;
}
.txt-nature{
    color: $nature;
}
.txt-orange{
    color: $orange;
}
.txt-purple{
    color: $purple;
}
.txt-teal{
    color: $teal;
}
.txt-bluegray{
    color: $bluegrey;
}
.txt-black{
    color: $black;
}
.txt-white{
    color: $white;
}
.txt-body{
    font-size: 18px;
}
.txt-small{
    font-size: 14px;
}
.txt-heading{
    font-size: 28px;
}
.txt-bold{
    font-weight: bold;
}
.txt-italic{
    font-style: italic;
}
.txt-underline{
    text-decoration: underline;
}
// CHECKBOX
input[type=checkbox]{
    border-radius: 3px;
    width: 10px;
    height: 10px;
}

// BACKGROUNDS
.bg-carrot{
    background-color: $carrot;
}
.bg-nature{
    background-color: $nature;
}
// FLEXBOX
.flex{
    display: flex;
}
.justify-start{
    justify-content: flex-start;
}
.justify-end{
    justify-content: flex-end;
}
.justify-center{
    justify-content: center;
}
.align-start{
    align-items: flex-start;
}
.align-end{
    align-items: flex-end;
}
.align-center{
    align-items: center;
}
.justify-space-around{
    justify-content: space-around;
}
.justify-space-between{
    justify-content: space-between;
}
.justify-space-even{
    justify-content: space-evenly;
}
.align-space-around{
    align-items: space-around;
}
.align-space-between{
    align-items: space-between;
}
.align-space-even{
    align-items: space-evenly;
}

// CARD
.card{
    box-shadow: -1px -1px 5px 0px $borderlight;
    border-radius: 3px;
}

// SIZING
.wv-100{
    width: 100vw;
}
.wv-50{
    width: 50vw;
}
.wv-25{
    width: 25vw;
}
.wv-20{
    width: 20vw;
}
.wv-10{
    width: 10vw;
}
.wv-5{
    width: 5vw;
}

.wp-100{
    width: 100%;
}
.wp-50{
    width: 50%;
}
.wp-25{
    width: 25%;
}
.wp-20{
    width: 20%;
}
.wp-10{
    width: 10%;
}
.wp-5{
    width: 5%;
}

// ACCORD
.accord > .accord-content{
    display: none;
}
.accord > .accord-title{
    border: 1px solid $borderlight;
    padding: 10px 20px;
    width: calc(100% - 40px);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
}
.accord-title::after{
    content: 'd';
}
.accord-content{
    border: 1px solid $borderlight;
    border-top: 0;
    border-radius: 0px 0px 10px 10px;
    padding: 10px 10px;
    line-height: 25px;
}
.container{
    width: 50%;
    padding: 0px 10px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.header{
    width: calc(100% - 30px);
    padding: 10px 15px;
    box-shadow: 0px 0px 7px 3px $borderlight;
}
.nav-list{
    display: flex;
    list-style: none;
    align-items: center;
}
.nav-list > li:nth-child(1){
    margin-left: 0;
}
.nav-list > li{
    margin-left: 20px;
}
.accord{
    margin: 10px;
}
.accord-group{

}
.accord-group > .accord{
    margin:0;
}
.accord-group > .accord:first-child{
    border-radius: 5px 5px 0px 0px;
}
.accord-group > .accord:last-child{
    border-radius: 0px 0px 5px 5px;
}
.footer{
    display: flex;
    justify-content: space-evenly;
}
.flex-row{
    flex-direction: row;
}
.flex-col{
    flex-direction: column;
}
.flex-col-reverse{
    flex-direction: column-reverse;
}
.flex-row-reverse{
    flex-direction: row-reverse;
}
.list-no-marker, .list-no-marker ul{
    list-style: none;
}

// CONTAINER
.container{
    margin: 10px;
    display: flex;
}
// FORMS
input[type=text], input[type=email], input[type=tel]{
    padding: 8px;
    outline: 0;
    border: 1px solid $borderlight;
    border-bottom: 1px solid $black;
    border-radius: 5px;
    transition: 0.3s;
    margin: 5px 0px;
}
input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus{
    border-bottom-color: $blue;
}
form{
    display: flex;
}
.switch{
    width: 40px;
    border: 1px solid $black;
    height: 20px;
    border-radius: 1000px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;

}
.no-display{
    display: none;
}
.switch > div{
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: $black;
    margin: 0px 3px;
    transition: 0.2s;
}
.radio-enabled{
    background-color: $blue!important;
    align-content: flex-end;
}
.switch-on > div{
    margin-left: 22px;
}
// RESPONSIVE
@media screen and (max-width: 950px){
    
}